@inherits LayoutComponentBase
@using FlexDash.Client.Components

<div class="app-shell">
    <header class="top-bar">
        FlexDash
    </header>
    <Sidebar />
    <main class="main-content">
        @Body
    </main>
</div>
